body
{
	background: url(../img/app/login-page-bg.png) repeat-x scroll 0 0 #E2E2CD;
	font-family: Arial, sans-serif;
	font-size: 16px;
}
header
{
	margin-bottom: 1em;
}
header .logo
{
	background: url(../img/app/app-login-logo.png) no-repeat scroll center bottom transparent;
	display: block;
	padding-top: 80px;
}
input.button
{
	background-color: #444;
	background: -moz-linear-gradient(center top, #777, #444) repeat scroll 0 0 transparent;
	border: 1px solid #333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	padding: 7px 10px;
	text-shadow: 0 -1px 0 #000;
}
input.button.disabled
{
	background-color: #CCC;
	color: #666;
	font-style: italic;
}

.LoginButtonDiv
{
	padding-top: 20px;
	text-align: center;
}
.LoginUserInputDiv
{
	margin-bottom: 10px;
}
.LoginPasswordInputDiv
{
	margin-top: 10px;
}
.LoginErrorBar
{
	background: none repeat scroll 0 0 #DD2D2D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 1px 0 #FFF;
	color: white;
	display: none;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 0.5em;
}
#console
{
	display: none;
}
#console.error
{
	background-color: red;
	color: #FFFFFF;
	text-align: center;
}
.login-box
{
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 0 20px #999;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0 20px #999;
	background-color: #F5F5EF;
	border-radius: 5px;
	box-shadow: 0 0 20px #999;
	color: #515348;
	margin: 0 1em;
	padding: 1em;
}
.login-box form label
{
	color: #6EB83A;
	display: block;
	font-weight: bold;
	text-align: left;
}

.login-box form input.inputtext
{
	color: black;
	height: 33px;
	display: block;
	width: 95%;
}
.login-box form input.inputtext:focus
{
	background-color: #FFF5B7;
}
@media screen and (min-width: 768px) {
	.login-box
	{
		margin: 0 auto 0 auto;
		width: 50%;
	}
}
@media screen and (min-width: 1280px) {
	.login-box
	{
		margin: 0 auto 0 auto;
		width: 30%;
	}
}